  <!-- ======= Services Section ======= -->
  <div style="height: 100px;"></div>
  <section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Services</h2>
            <p>
                Storey buildings, Highways, bridges,
                parking structures, large span structures,
                underground structures, water retaining
                structures, pre
                -cast and cast
                -in
                -situ construction, industrial structures, space
                structures, cable
                -supported structures,
                tensile membrane structures, aluminium
                structures, curtain walls and glazing enables us to accurately gauge the client’s
                requirements and provide responsive,
                client oriented and relevant solutions.</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-briefcase"></i></div>
                <h4 class="title"><a href="">Civil and Structural Design Consultancy
                    </a></h4>
                <p class="description">
                    A Civil and Structural Design Consultancy is a professional service that provides expertise
                    in the design and analysis of civil engineering and structural projects.</p>
            </div>

            <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-card-checklist"></i></div>
                <h4 class="title"><a href="">Detailed Project Reports</a></h4>
                <p class="description">A Detailed Project Report (DPR) is a comprehensive document that outlines
                    the feasibility, viability, and overall potential of a proposed project.
                </p>
            </div>

            <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-bar-chart"></i></div>
                <h4 class="title"><a href="">Highway and Transportation Engineering </a></h4>
                <p class="description">Highway and transportation engineering is a branch of civil engineering
                    that focuses on the planning, design, construction, operation, and maintenance of
                    transportation infrastructure, particularly highways and road systems.</p>
            </div>

            <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-binoculars"></i></div>
                <h4 class="title"><a href="">Rail and Metro </a></h4>
                <p class="description">Rail and metro engineering involves the planning, design, construction,
                    operation, and maintenance of rail-based transit systems.</p>
            </div>

            <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-brightness-high"></i></div>
                <h4 class="title"><a href="">BIM based modelling</a></h4>
                <p class="description">BIM-based modeling involves the use of specialized software to create a
                    collaborative and information-rich 3D model that encompasses various aspects of a
                    construction project throughout its lifecycle.
                </p>
            </div>

            <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-brightness-high"></i></div>
                <h4 class="title"><a href="">Economic and Cost Analysis</a></h4>
                <p class="description">Economic and cost analysis is a crucial aspect of project evaluation and
                    decision-making. </p>
            </div>

            <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-card-checklist"></i></div>
                <h4 class="title"><a href="">Building Engineering Solutions</a></h4>
                <p class="description">Building engineering solutions encompass a wide range of services and
                    solutions aimed at designing, constructing, and maintaining buildings. </p>
            </div>

            <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-brightness-high"></i></div>
                <h4 class="title"><a href="">Following Services offered with Associates</a></h4>
                <p class="description">The specific services offered can vary based on the nature of the
                    collaboration and the expertise of the associates involved. Here are some common services
                    that might be offered with associates. </p>
            </div>

            <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-card-checklist"></i></div>
                <h4 class="title"><a href="">Topographic surveys</a></h4>
                <p class="description">These surveys provide essential information for various purposes,
                    including land development, engineering design, construction projects, and environmental
                    assessments. </p>
            </div>

            <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-brightness-high"></i></div>
                <h4 class="title"><a href="">Geotechnical investigation and noise analysis
                    </a></h4>
                <p class="description">This information is crucial for engineering design, foundation design,
                    and overall project feasibility. </p>
            </div>

            <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-card-checklist"></i></div>
                <h4 class="title"><a href="">Hydro geological and geophysical studies </a></h4>
                <p class="description">Hydrogeological and geophysical studies are essential components of site
                    investigations that focus on understanding the distribution, movement, and properties of
                    groundwater. </p>
            </div>

            <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-brightness-high"></i></div>
                <h4 class="title"><a href="">Project Management Consultancy</a></h4>
                <p class="description">Project Management Consultancy (PMC) is a professional service that
                    provides expertise and support in managing and executing projects on behalf of clients. </p>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->