<!-- End Header -->

<section id="hero">
    <!-- <div  style="height: 100px;"></div> -->
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">
                <div id="card_area">
                    <app-card-slider></app-card-slider>
                </div>

            </div>



        </div>
    </div>
</section><!-- End Hero -->
<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row no-gutters">
                <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start">
                </div>
                <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
                    <div class="content d-flex flex-column justify-content-center">
                        <h3>Who We Are!</h3>
                        CONSTRUCTURE is a multidisciplinary engineering and
                        design consultancy
                        <p>
                        </p>
                        <div class="row">
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-receipt"></i>
                                <h4>Passionate Craftsmen</h4>
                                <p>Behind every project, there's a team of passionate craftsmen dedicated to turning
                                    architectural visions into reality.</p>
                            </div>
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Innovation at the Core:</h4>
                                <p>Embracing innovation is at the core of our identity. We leverage cutting-edge
                                    technologies and construction methods to ensure that our projects</p>
                            </div>
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-images"></i>
                                <h4>Quality Assurance</h4>
                                <p>Delivering excellence is non-negotiable. Rigorous quality assurance processes are
                                    embedded in every stage of our projects to guarantee that what we build not only
                                    meets but exceeds industry standards.
                                </p>
                            </div>
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-shield"></i>
                                <h4>Safety First</h4>
                                <p>The well-being of our team and everyone involved in our projects is our top
                                    priority. We adhere to strict safety protocols to create an environment where
                                    everyone goes home safely at the end of the day.</p>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">

            <div class="row no-gutters">

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="200" data-purecounter-duration="1"
                            class="purecounter">200</span>
                        <p><strong>Happy Clients</strong> </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="500" data-purecounter-duration="1"
                            class="purecounter">500</span>
                        <p><strong>Projects</strong> </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="bi bi-headset"></i>
                        <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1"
                            class="purecounter">24 </span>
                        <p><strong>Hours Of Support</strong> </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="bi bi-people"></i>
                        <span data-purecounter-start="0" data-purecounter-end="500" data-purecounter-duration="1"
                            class="purecounter">500</span>
                        <p><strong>Books</strong></p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
        <div class="container">

        </div>
    </section><!-- End Clients Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Services</h2>
                <p>
                    Storey buildings, Highways, bridges,
                    parking structures, large span structures,
                    underground structures, water retaining
                    structures, pre
                    -cast and cast
                    -in
                    -situ construction, industrial structures, space
                    structures, cable
                    -supported structures,
                    tensile membrane structures, aluminium
                    structures, curtain walls and glazing enables us to accurately gauge the client’s
                    requirements and provide responsive,
                    client oriented and relevant solutions.</p>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="bi bi-briefcase"></i></div>
                    <h4 class="title"><a href="">Civil and Structural Design Consultancy
                        </a></h4>
                    <p class="description">
                        A Civil and Structural Design Consultancy is a professional service that provides expertise
                        in the design and analysis of civil engineering and structural projects.</p>
                </div>

                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="bi bi-card-checklist"></i></div>
                    <h4 class="title"><a href="">Detailed Project Reports</a></h4>
                    <p class="description">A Detailed Project Report (DPR) is a comprehensive document that outlines
                        the feasibility, viability, and overall potential of a proposed project.
                    </p>
                </div>

                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="bi bi-bar-chart"></i></div>
                    <h4 class="title"><a href="">Highway and Transportation Engineering </a></h4>
                    <p class="description">Highway and transportation engineering is a branch of civil engineering
                        that focuses on the planning, design, construction, operation, and maintenance of
                        transportation infrastructure, particularly highways and road systems.</p>
                </div>

                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="bi bi-binoculars"></i></div>
                    <h4 class="title"><a href="">Rail and Metro </a></h4>
                    <p class="description">Rail and metro engineering involves the planning, design, construction,
                        operation, and maintenance of rail-based transit systems.</p>
                </div>

                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="bi bi-brightness-high"></i></div>
                    <h4 class="title"><a href="">BIM based modelling</a></h4>
                    <p class="description">BIM-based modeling involves the use of specialized software to create a
                        collaborative and information-rich 3D model that encompasses various aspects of a
                        construction project throughout its lifecycle.
                    </p>
                </div>

                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="bi bi-brightness-high"></i></div>
                    <h4 class="title"><a href="">Economic and Cost Analysis</a></h4>
                    <p class="description">Economic and cost analysis is a crucial aspect of project evaluation and
                        decision-making. </p>
                </div>

                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="bi bi-card-checklist"></i></div>
                    <h4 class="title"><a href="">Building Engineering Solutions</a></h4>
                    <p class="description">Building engineering solutions encompass a wide range of services and
                        solutions aimed at designing, constructing, and maintaining buildings. </p>
                </div>

                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="bi bi-brightness-high"></i></div>
                    <h4 class="title"><a href="">Following Services offered with Associates</a></h4>
                    <p class="description">The specific services offered can vary based on the nature of the
                        collaboration and the expertise of the associates involved. Here are some common services
                        that might be offered with associates. </p>
                </div>

                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="bi bi-card-checklist"></i></div>
                    <h4 class="title"><a href="">Topographic surveys</a></h4>
                    <p class="description">These surveys provide essential information for various purposes,
                        including land development, engineering design, construction projects, and environmental
                        assessments. </p>
                </div>

                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="bi bi-brightness-high"></i></div>
                    <h4 class="title"><a href="">Geotechnical investigation and noise analysis
                        </a></h4>
                    <p class="description">This information is crucial for engineering design, foundation design,
                        and overall project feasibility. </p>
                </div>

                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="bi bi-card-checklist"></i></div>
                    <h4 class="title"><a href="">Hydro geological and geophysical studies </a></h4>
                    <p class="description">Hydrogeological and geophysical studies are essential components of site
                        investigations that focus on understanding the distribution, movement, and properties of
                        groundwater. </p>
                </div>

                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="bi bi-brightness-high"></i></div>
                    <h4 class="title"><a href="">Project Management Consultancy</a></h4>
                    <p class="description">Project Management Consultancy (PMC) is a professional service that
                        provides expertise and support in managing and executing projects on behalf of clients. </p>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <app-content></app-content>
    </section><!-- End Portfolio Section -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team" style="padding-top: 0px;">
        <div class="container">

            <div class="section-title">
                <h2>Team</h2>
                <p>We are a team of dedicated scientists and business leaders, with a passion and commitment to
                    health care. <br> We are a team of dedicated scientists and business leaders .</p>
            </div>

            <div class="row">
                
                <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let team of team_data">
                    <a [href]="url+team.team_profile"></a>
                    <div class="member">
                        <img src="{{url}}{{team.team_profile}}" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>{{team.team_name}}</h4>
                                <span>{{team.team_desination}}</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section><!-- End Team Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container">

            <div class="section-title">
                <h2>TERMS AND CONDITIONS</h2>
                <p>
                <h1>General Privacy Terms</h1>
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                            data-bs-target="#faq-list-1">NAcceptance of Terms? <i
                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                            <p>
                                Users must agree to the terms and conditions before using the website.
                                Clearly state that using the website implies acceptance of these terms.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-2" class="collapsed">User Conduct? <i
                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Specify acceptable and unacceptable user behavior on the website.
                                Outline consequences for violating these terms.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-3" class="collapsed">Dolor sit amet consectetur adipiscing
                            elit? <i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus
                                pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit.
                                Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis
                                tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-4" class="collapsed">Tempus quam pellentesque nec nam aliquam
                            sem et tortor consequat? <i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in
                                est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl
                                suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-5" class="collapsed">Tortor vitae purus faucibus ornare.
                            Varius vel pharetra vel turpis nunc eget lorem dolor? <i
                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo
                                integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc
                                eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque.
                            </p>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Hariom Gera B.E.(Civil),M.I.T.S., Gwalior, M.Tech. (Structure), IIT Delhi, MIAStructE, MINSDAG
                    Managing Director, Principal Enginee.</p>
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="bi bi-geo-alt"></i>
                        <h3>Head Office Address</h3>
                        <address>Abhishek Plaza, 3rd Floor,
                            Mayur Vihar Phase 2,
                            Pocket B, Delhi 110091</address>
                        <p> <a href="tel:+91.11.22776008">+ 91.11.22776008</a></p>
                        <p><a href="mailto:constructure@gmail.com">constructure@gmail.com</a></p>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="bi bi-geo-alt"></i>
                        <h3>Branch Office Address</h3>
                        <address>Abhishek Plaza, 3rd Floor,
                            Mayur Vihar Phase 2,
                            Pocket B, Delhi 110091</address>
                        <p> <a href="tel:+91.11.22776008">+ 91.11.22776008</a></p>
                        <p><a href="mailto:constructure@gmail.com">constructure@gmail.com</a></p>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="bi bi-geo-alt"></i>
                        <h3>Branch Office Address</h3>
                        <address>Abhishek Plaza, 3rd Floor,
                            Mayur Vihar Phase 2,
                            Pocket B, Delhi 110091</address>
                        <p> <a href="tel:+91.11.22776008">+ 91.11.22776008</a></p>
                        <p><a href="mailto:constructure@gmail.com">constructure@gmail.com</a></p>

                    </div>
                </div>

            </div>

            <div class="form">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                data-rule="email" data-msg="Please enter a valid email">
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="Mobile" id="subject" placeholder="Mobile"
                            required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message"
                            required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>
    </section><!-- End Contact Section -->

</main>