<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4> <b style="color: blue;">CON</b><i style="color: red;background-color: #637dad;"><b>STRUCTURE</b></i> </h4>
                <ul>
                    <li><a href="#">Multidisciplinary Consultancy Services.</a></li>
                   

                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="login">Try us free</a></li>
                    <li><a routerLink="contact">Contact us</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a routerLink="faq">FAQs</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>POLICIES</h4>
                <ul>
                    <li><a routerLink="/privacyPloicy">Privacy Policy</a></li>
                    <li><a routerLink="termConditions">Terms and Conditions</a></li>
                    <li><a routerLink="medicalDisclaimer">Refund Policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/turningbrains"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FTurningBrains"><i
                            class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/tyagidrpreeti/?hl=en"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/dr-preeti-tyagi-71b549212/?originalSubdomain=in"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>

        <div id="foot">
            <a>© 2023 constructure.co.in All Rights Reserved</a>
            <a href="https://www.macreel.co.in/">
                <p>Developer By : </p> <img width="100px" src="https://www.macreel.co.in/img/macreel.png">
            </a>
        </div>
    </div>
</footer>