<div id="wrapper">
    <div id="head">
        <h1 style="margin-top: 140px;">TERMS AND CONDITIONS</h1>
    </div>




<div id="content_box">
    <h1>General Privacy Terms</h1>
    <p>
        CONSTRUCTURE is a multidisciplinary engineering and
        design consultancy providing a complete range of
        analysis and design services, backed by expertise in
        allied fields such as management, finance and
        environmental assessment. We are committed to
        providing project-specific and environmentally sensitive solutions to achieve a synergy between
        space,
        structure and construction.
    </p>

    <section id="faq" class="faq section-bg">
        <div class="container">

            <div class="section-title">
                <h2>TERMS AND CONDITIONS</h2>
                <p>
                <h1>General Privacy Terms</h1>
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                            data-bs-target="">NAcceptance of Terms? <i
                                class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                            <p>
                                Users must agree to the terms and conditions before using the website.
                                Clearly state that using the website implies acceptance of these terms.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="" class="collapsed">User Conduct? <i
                                class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Specify acceptable and unacceptable user behavior on the website.
                                Outline consequences for violating these terms.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-3" class="collapsed">Scope of Work <i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                <ul>
                                <li>Define the project in detail.</li>
                                <li>Specify the work to be performed by the contractor.</li>
                                <li>Include a timeline for completion and milestones.</li>
                                    </ul>
                            
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-4" class="collapsed">Contract Price and Payment Terms <i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                <ul>
                                    <li>State the total contract price.</li>
                                    <li>
                                        Outline the payment schedule, including any upfront payments, progress payments, and the final payment.</li>
                                     <li>   Clarify the consequences of late payments.</li>
                                </ul>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-5" class="collapsed">Performance and Quality Standards <i
                                class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                <ul>
                                    <li>Define the standards to which the work must adhere.</li>
                                    <li>Address any testing or inspection requirements.
                                    </li>
                                </ul>
                        </div>
                    </li>


                    <li data-aos="fade-up" data-aos-delay="500">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-6" class="collapsed">Insurance and Indemnification                          <i
                                class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                <ul>
                                    <li>Specify the insurance coverage required for the project.</li>
                                    <li>Define each party's responsibility for indemnifying the other against claims
                                    </li>
                                </ul>
                        </div>
                    </li>




                </ul>
            </div>

        </div>
    </section>

</div>

</div>