
<div style="height: 80px;">

</div>
<main id="main">
       <!-- ======= About Section ======= -->
       <section id="about" class="about">
        <div class="container">

            <div class="row no-gutters">
                <div
                    class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start">
                </div>
                <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
                    <div class="content d-flex flex-column justify-content-center">
                        <h3>Who We Are!</h3>
                        CONSTRUCTURE is a multidisciplinary engineering and
                        design consultancy
                        <p>
                        </p>
                        <div class="row">
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-receipt"></i>
                                <h4>Passionate Craftsmen</h4>
                                <p>Behind every project, there's a team of passionate craftsmen dedicated to turning
                                    architectural visions into reality.</p>
                            </div>
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Innovation at the Core:</h4>
                                <p>Embracing innovation is at the core of our identity. We leverage cutting-edge
                                    technologies and construction methods to ensure that our projects</p>
                            </div>
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-images"></i>
                                <h4>Quality Assurance</h4>
                                <p>Delivering excellence is non-negotiable. Rigorous quality assurance processes are
                                    embedded in every stage of our projects to guarantee that what we build not only
                                    meets but exceeds industry standards.
                                </p>
                            </div>
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-shield"></i>
                                <h4>Safety First</h4>
                                <p>The well-being of our team and everyone involved in our projects is our top
                                    priority. We adhere to strict safety protocols to create an environment where
                                    everyone goes home safely at the end of the day.</p>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
</main>
<div class="aboutus">
        <div class="left">
            <img src="../../../assets/aboutus.png" width="100%" height="100%">
        </div>
        <div class="right">
            <p>
                <b style="color: blue;">CON</b><i style="color: red;background-color: #637dad;"><b>STRUCTURE</b></i> is a
                multidisciplinary engineering and
                design consultancy providing a complete range of
                analysis and design services, backed by expertise in
                allied fields such as management, finance and
                environmental assessment. We are committed to
                providing project-specific and environmentally sensitive solutions to achieve a synergy between space,
                structure and construction.
    
            </p>
        </div>
    
</div>
