<div id="wrapper">
        <div id="head">
            
            <h1 style="margin-top: 140px;" >MISSION</h1>
        </div>




    <div id="content_box">
        <h1>Mission</h1>
        <p>
            CONSTRUCTURE is a multidisciplinary engineering and
            design consultancy providing a complete range of
            analysis and design services, backed by expertise in
            allied fields such as management, finance and
            environmental assessment. We are committed to
            providing project-specific and environmentally sensitive solutions to achieve a synergy between
            space,
            structure and construction.
        </p>

        <h1>Introduction </h1>

        <p>
            We, at CONSTRUCTURE, recognise the multi - disciplinary needs of today
            ’s large scale projects and bring together a team of experts in varying fields to offer our
            clients a range of linked services under one roof.
            Our expertise and experience in multi - storey buildings, Highways, bridges, parking structures, large span
            structures, underground structures, water retaining
            structures, pre - cast and cast -in -situ construction, industrial structures, space
            structures, cable -supported structures, tensile membrane structures, aluminium
            structures, curtain walls and glazing enables us to accurately gauge the client’s
            requirements and provide responsive, client oriented and relevant solutions Our think
            -tank team of engineers, associates, resource personnel and other
            professionals work together with organisations like IIT Delhi, using interdisciplinary software and an
            interactive design process, to arrive at tailor made design
            solutions drawn from preliminary investigation reports, cost studies, feasibility
            studies, system analyses and client requirements.
        </p>
    </div>

</div>