<body>

    <section>

        <div class="section-header">
            <div class="container">
                <h2>Contact Us</h2>
                <p>Hariom Gera
                    B.E.(Civil),M.I.T.S., Gwalior,
                    M.Tech. (Structure), IIT Delhi,
                    MIAStructE, MINSDAG
                    Managing Director, Principal Enginee.</p>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="contact-info">
                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fas fa-home"></i>

                        </div>

                        <div class="contact-info-content">
                            <h4>Head Office Address </h4>
                            <p><i class="fas fa-home"></i>  Abhishek Plaza, 3rd Floor,<br /> Mayur Vihar Phase 2, <br />Pocket B,
                                Delhi 110091</p>
                                <p> <i class="fas fa-phone"></i> + 91.11.22776008,</p>
                                <p> <i class="fas fa-envelope"></i>  constructure@gmail.com</p>
                        </div>
                    </div>

                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fas fa-home"></i>
                        </div>

                        <div class="contact-info-content">
                            <h4>Branch Office Address</h4>
                            <p><i class="fas fa-home"></i>  Abhishek Plaza, 3rd Floor,<br /> Mayur Vihar Phase 2, <br />Pocket B,
                                Delhi 110091</p>
                                <p> <i class="fas fa-phone"></i> + 91.11.22776008,</p>
                                <p> <i class="fas fa-envelope"></i> constructure@gmail.com</p>

                        </div>
                    </div>

                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fas fa-home"></i>
                        </div>

                        <div class="contact-info-content">
                            <h4>Branch Office Address</h4>
                            <p><i class="fas fa-home"></i>  Abhishek Plaza, 3rd Floor,<br /> Mayur Vihar Phase 2, <br />Pocket B,
                                Delhi 110091</p>
                                <p> <i class="fas fa-phone"></i> + 91.11.22776008,</p>
                                <p> <i class="fas fa-envelope"></i> constructure@gmail.com</p>
                        </div>
                    </div>
                </div>

                <div class="contact-form">
                    <form action="" id="contact-form">
                        <h2>Send Message</h2>
                        <div class="input-box">
                            <input type="text" required="true" name="">
                            <span>Full Name</span>
                        </div>

                        <div class="input-box">
                            <input type="email" required="true" name="">
                            <span>Email</span>
                        </div>

                        <div class="input-box">
                            <textarea required="true" name=""></textarea>
                            <span>Type your Message...</span>
                        </div>

                        <div class="input-box">
                            <input type="submit" value="Send" name="">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>

</body>