<div id="wrapper">
    <div style="height: 120px;"></div>

    <div class="pg-orgchart">
        <div class="org-chart">
            <ul>
          <li>
            <div class="user">
              <img src="../../../assets/man.jpg" class="img-responsive" />
              <div class="name">CONSTRUCTURE</div>
              <div class="role">DIRECTOR</div>
              <a class="manager" href="#">CEO</a>
            </div>
            <ul>
              <li>
                <div class="user">
                  <img src="../../../assets/man2.png" class="img-responsive" />
                  <div class="name">Lynn Maynard</div>
                  <div class="role">System Architect</div>
                  <a class="manager" href="#">Luann Brannick</a>
                </div>
                <ul>
                  <li>
                    <div class="user">
                      <img src="../../../assets/man2.png" class="img-responsive" />
                      <div class="name">Fleta Odriscoll</div>
                      <div class="role">System Architect</div>
                      <a class="manager" href="#">Lynn Maynard</a>
                    </div>
                  </li>
                  <li>
                    <div class="user">
                      <img src="../../../assets/man2.png" class="img-responsive" />
                      <div class="name">Elfreda Grebin</div>
                      <div class="role">System Architect</div>
                      <a class="manager" href="#">Lynn Maynard</a>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div class="user">
                  <img src="../../../assets/man2.png" class="img-responsive" />
                  <div class="name">Jahn Philson Doe</div>
                  <div class="role">System Architect</div>
                  <a class="manager" href="#">Luann Brannick</a>
                </div>
                <ul>
                  <li>
                    <div class="user">
                      <img src="../../../assets/man2.png" class="img-responsive" />
                      <div class="name">Roy Lemarie</div>
                      <div class="role">System Architect</div>
                      <a class="manager" href="#">Jahn Philson Doe</a>
                    </div>
                  </li>
                  <li>
                    <div class="user">
                      <img src="../../../assets/man2.png" class="img-responsive" />
                      <div class="name">Eloisa Stubbolo</div>
                      <div class="role">System Architect</div>
                      <a class="manager" href="#">Jahn Philson Doe</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        </div>
    </div>
</div>