<div id="wrapper">
    <div id="head">
        <h1>OUR TEAM</h1>
    </div>
    <br><br><br>
    <div id="servies">
        <div id="team_group">

            <mat-card id="team">
                <img mat-card-image src="../../../assets/profile.png" height="100%">
                <div class="overlay">
                    <h1><b>Team One</b> </h1>
                    <i>Hr Manager</i>
                </div>
            </mat-card>
    
            <mat-card id="team">
                <img mat-card-image src="../../../assets/profile.png" height="100%">
                <div class="overlay">
                    <h1><b>Team One</b> </h1>
                    <i>Hr Manager</i>
                </div>
            </mat-card>
    
            <mat-card id="team">
                <img mat-card-image src="../../../assets/profile.png" height="100%">
                <div class="overlay">
                    <h1><b>Team One</b> </h1>
                    <i>Hr Manager</i>
                </div>
            </mat-card>
            
            <mat-card id="team">
                <img mat-card-image src="../../../assets/profile.png" height="100%">
                <div class="overlay">
                    <h1><b>Team One</b> </h1>
                    <i>Hr Manager</i>
                </div>
            </mat-card>
            
    
        </div>
    </div>
</div>